{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src",
          "~Layout": "./src/Layout",
          "~constants": "./src/constants",
          "~Pages": "./src/Pages",
          "~services": "./src/services",
          "~utils": "./src/utils",
          "~store": "./src/store",
          "~assets": "./src/assets",
          "~Provider": "./src/Provider",
          "~Routes": "./src/Routes",
          "~hooks": "./src/hooks",
          "~Components": "./src/Components",
          "~styles": "./src/assets/styles"
        }
      }
    ]
  ]
}
