@import "~styles/mixins/media_mixins.scss";

.group-actions-button {
  display: inline-block;
}

.group-actions-button__popper {
  color: "white" !important;
}

.group-actions-button__icon {
  font-size: 14px !important;
  @include mix-media("extra-small", "small") {
    font-size: 12px !important;
  }
}

.group-actions-button__child-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background-color: var(--gunmetal);
  border-radius: 5px;
  width: 140px;
}

.group-actions-button__child-button .button__content-container {
  display: flex !important;
  justify-content: flex-end !important;
  width: 100% !important;
  background-color: var(--gunmetal) !important;
}

.group-actions-button__divider {
  width: calc(100%);
  height: 1px;
  background-color: var(--normal-grey);
}
